<!DOCTYPE html>
<html>

<head>
  <title>Daily Codebreaker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Share Tech' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Daily Codebreaker</h1>
        <form action="/easy" method="get">
            <button id="easy-button" name="difficulty" value="easy">Easy</button>
        </form>
        <form action="/medium" method="get">
            <button id="medium-button" name="difficulty" value="medium">Medium</button>
        </form>
        <form action="/hard" method="get">
            <button id="hard-button" name="difficulty" value="hard">Hard</button>
        </form>
    </div>
</body>
</html>